*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#top {
  background: #151720;
  width:100%;
}

nav, .navbar-brand {
  font-size: 35px !important
}

.navbar-brand {
  margin-right: 30px !important
}

.dropdown-menu {
  background-color: #ffffff50 !important
}
.btn-outline-2{
  color:#E37222;
  border-color:#E37222;
}
.btn-outline-2:hover{
  background-color:#E37222;
  color:#ffffff;
}
#render {
  margin-top: 24vh;
  font-size: 50px;
  color: #fffffff0;
}
#commands{
  background: #e2e0df;
  display: flex;
  height:87vh;
  color:#151720 !important;
}
.list-group-item{
  margin-top: 30px;
  margin-left: 15px;
  padding: 0px;
  border: 0px;
}

.card{
  margin: 30px;
}

#n1{
  margin-left: 32vw;
}

#n2{
  margin-left: 10vw;
}
#footer{
  height:13vh;
  background:#151720;
}
