<!DOCTYPE html>
<html lang="ko-kr">
  <head>
    <title><%= bot.user.username %> Bot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/src/img/logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/src/index.css">
  </head>
  <body>
    <div id='top' class='container-fluid vh-100'>
      <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="./"><img src="/src/img/logo.png" height="50" width="50">SeoaBot</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="#commands">Commands</a>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more..</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="https://seoa.lloooott.xyz/" >Team Seoa Page</a>
                <a class="dropdown-item" href="https://github.com/seoaapp" >SeoaBot github</a>
            </div>
          </li>
        </ul>
        <button class="btn btn-outline-light my-2 my-sm-0" onclick="document.location.href = 'https://discord.gg/QJfeKYr'" >SeoaBot Discord Server</button>
          <div style="margin: 5px"></div>
          <button class="btn btn-outline-2 my-2 my-sm-0" onclick="document.location.href = 'https://discordapp.com/oauth2/authorize?client_id=584692085614182440&permissions=8&scope=bot'">Invite SeoaBot</button>
        </div>
      </nav>
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12 nav-link" id="render">

          <!--- Rendering Part -->

        </div>
      </div>
    </div>
    <div id="commands" class='d-flex justify-content-center' style='display: flex;align-items: center;'>
      <table class="table table-bordered" style="margin: 30px">
        <thead>
          <tr>
            <th scope="col" class='border-dark'>#</th>
            <th scope="col" class='border-dark'>Command</th>
            <th scope="col" class='border-dark'>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class='border-dark'>1</th>
            <td class='border-dark'>&gt;help</td>
            <td class='border-dark'>도움말을 보여줍니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>2</th>
            <td class='border-dark'>&gt;invite</td>
            <td class='border-dark'>Seoa봇 초대링크를 줍니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>3</th>
            <td class='border-dark'>&gt;join</td>
            <td class='border-dark'>보이스 채널에 들어옵니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>4</th>
            <td class='border-dark'>&gt;leave</td>
            <td class='border-dark'>보이스 채널을 나갑니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>5</th>
            <td class='border-dark'>&gt;search</td>
            <td class='border-dark'>YouTube에서 검색합니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>6</th>
            <td class='border-dark'>&gt;play</td>
            <td class='border-dark'>노래를 재생해드릴께요~</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>7</th>
            <td class='border-dark'>&gt;quiz</td>
            <td class='border-dark'>프로그래밍에 대한 퀴즈를 풀 수 있습니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>8</th>
            <td class='border-dark'>&gt;quiz point</td>
            <td class='border-dark'>퀴즈 포인트를 볼 수 있습니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>9</th>
            <td class='border-dark'>&gt;leaderboard</td>
            <td class='border-dark'>리더보드를 보여줍니다</td>
          </tr>
          <tr>
            <th scope="row" class='border-dark'>10</th>
            <td class='border-dark'>&gt;settings</td>
            <td class='border-dark'>서버 설정을 합니다</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div id="footer" class='text-light text-center text-xs-center d-flex justify-content-center' style='display: flex; align-items: center;'>
        <span class='align-middle text-center'>
        Copyright &copy; 2019 Seoa Development Team. MIT Licensed.
        </span>
      </div>
    </div>
    <%
      let totalSeconds = new Date(new Date() - bot.user.createdAt).getTime() / 1000
      let days = Math.floor(totalSeconds / 86400)
      console.log(days)
    %>
    <div id="typing" class='d-none'>
      SeoaBot은 디스코드 봇입니다<br>
      <%= bot.guilds.size + '개의 서버에서' %><br>
      <%= bot.users.size + '명의 사용자들에게' %><br>
      서비스되고 있습니다
    </div>
    <script src="/src/index.js"></script>
  </body>
</html>
